 # <font color=green> Limpieza de datos

In [1]:
# linea de codigo para que el jupyter autocomplete el codigo de cada linea
%config IPCompleter.greedy=True

In [3]:
import pandas as pd
import os

In [9]:
# Working Directory
mainpath = r'D:\Escritorio\Clases Udemy\Python Cursos\Curso Completo de machine learning data science in python\python-ml-course-master\datasets'
filename = r'titanic\titanic3.csv'
fullpath1 = os.path.join(mainpath,filename)
fullpath2 = r'D:\Escritorio\Clases Udemy\Python Cursos\Curso Completo de machine learning data science in python\python-ml-course-master\datasets\titanic\titanic3.csv'

#### <font color= green> carga de datos
pd.read_csv(filepaht='', sep='', dtype = {'a':np.float64, 'b':np.int32, 'c':None},
   header=0, names={'x1','x2'}, skiprows=None, index_col=None, skip_blank_lines= True/False,
   na_filter= True/False)

In [10]:
data = pd.read_csv(fullpath1)
data.head()

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,1,1,"Allen, Miss. Elisabeth Walton",female,29.0000,0,0,24160,211.3375,B5,S,2,NaN,"St Louis, MO"
1,1,1,"Allison, Master. Hudson Trevor",male,0.9167,1,2,113781,151.5500,C22 C26,S,11,NaN,"Montreal, PQ / Chesterville, ON"
2,1,0,"Allison, Miss. Helen Loraine",female,2.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
3,1,0,"Allison, Mr. Hudson Joshua Creighton",male,30.0000,1,2,113781,151.5500,C22 C26,S,NaN,135.0,"Montreal, PQ / Chesterville, ON"
4,1,0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"

In [11]:
# una muestra de como son leidas las variables de la base de datos
data.dtypes

pclass         int64
survived       int64
name          object
sex           object
age          float64
sibsp          int64
parch          int64
ticket        object
fare         float64
cabin         object
embarked      object
boat          object
body         float64
home.dest     object
dtype: object

In [12]:
# un resumen de las variables
data.describe()

,pclass,survived,age,sibsp,parch,fare,body
count,1309.000000,1309.000000,1046.000000,1309.000000,1309.000000,1308.000000,121.000000
mean,2.294882,0.381971,29.881135,0.498854,0.385027,33.295479,160.809917
std,0.837836,0.486055,14.413500,1.041658,0.865560,51.758668,97.696922
min,1.000000,0.000000,0.166700,0.000000,0.000000,0.000000,1.000000
25%,2.000000,0.000000,21.000000,0.000000,0.000000,7.895800,72.000000
50%,3.000000,0.000000,28.000000,0.000000,0.000000,14.454200,155.000000
75%,3.000000,1.000000,39.000000,1.000000,0.000000,31.275000,256.000000
max,3.000000,1.000000,80.000000,8.000000,9.000000,512.329200,328.000000

In [14]:
data2 = pd.read_csv(mainpath + '/' 'customer-churn-model/Customer churn model.txt')
data2.head()

,State,Account Length,Area Code,Phone,Int'l Plan,VMail Plan,VMail Message,Day Mins,Day Calls,Day Charge,...,Eve Calls,Eve Charge,Night Mins,Night Calls,Night Charge,Intl Mins,Intl Calls,Intl Charge,CustServ Calls,Churn?
0,KS,128,415,382-4657,no,yes,25,265.1,110,45.07,...,99,16.78,244.7,91,11.01,10.0,3,2.70,1,False.
1,OH,107,415,371-7191,no,yes,26,161.6,123,27.47,...,103,16.62,254.4,103,11.45,13.7,3,3.70,1,False.
2,NJ,137,415,358-1921,no,no,0,243.4,114,41.38,...,110,10.30,162.6,104,7.32,12.2,5,3.29,0,False.
3,OH,84,408,375-9999,yes,no,0,299.4,71,50.90,...,88,5.26,196.9,89,8.86,6.6,7,1.78,2,False.
4,OK,75,415,330-6626,yes,no,0,166.7,113,28.34,...,122,12.61,186.9,121,8.41,10.1,3,2.73,3,False.

In [8]:
data2.columns.values

array(['State', 'Account Length', 'Area Code', 'Phone', "Int'l Plan",
       'VMail Plan', 'VMail Message', 'Day Mins', 'Day Calls',
       'Day Charge', 'Eve Mins', 'Eve Calls', 'Eve Charge', 'Night Mins',
       'Night Calls', 'Night Charge', 'Intl Mins', 'Intl Calls',
       'Intl Charge', 'CustServ Calls', 'Churn?'], dtype=object)

In [9]:
data_cols=pd.read_csv(mainpath + '/' "customer-churn-model/Customer Churn Columns.csv")
data_cols.head()

  Column_Names
0            A
1            B
2            C
3            D
4            E

#### <font color=green> Cambiar las columnas

In [10]:
data_col_list = data_cols['Column_Names'].tolist()
data_col_list

['A',
 'B',
 'C',
 'D',
 'E',
 'F',
 'G',
 'H',
 'I',
 'J',
 'K',
 'L',
 'M',
 'N',
 'O',
 'P',
 'Q',
 'R',
 'S',
 'T',
 'U']

In [11]:
data2 = pd.read_csv(mainpath + '/' 'customer-churn-model/Customer churn model.txt', header = None,
                    names = data_col_list)
print(data2.columns.values)
data2.head()

['A' 'B' 'C' 'D' 'E' 'F' 'G' 'H' 'I' 'J' 'K' 'L' 'M' 'N' 'O' 'P' 'Q' 'R'
 'S' 'T' 'U']

,A,B,C,D,E,F,G,H,I,J,...,L,M,N,O,P,Q,R,S,T,U
0,State,Account Length,Area Code,Phone,Int'l Plan,VMail Plan,VMail Message,Day Mins,Day Calls,Day Charge,...,Eve Calls,Eve Charge,Night Mins,Night Calls,Night Charge,Intl Mins,Intl Calls,Intl Charge,CustServ Calls,Churn?
1,KS,128,415,382-4657,no,yes,25,265.100000,110,45.070000,...,99,16.780000,244.700000,91,11.010000,10.000000,3,2.700000,1,False.
2,OH,107,415,371-7191,no,yes,26,161.600000,123,27.470000,...,103,16.620000,254.400000,103,11.450000,13.700000,3,3.700000,1,False.
3,NJ,137,415,358-1921,no,no,0,243.400000,114,41.380000,...,110,10.300000,162.600000,104,7.320000,12.200000,5,3.290000,0,False.
4,OH,84,408,375-9999,yes,no,0,299.400000,71,50.900000,...,88,5.260000,196.900000,89,8.860000,6.600000,7,1.780000,2,False.

#### <font color = green> OPEN para carga manual de datos

In [17]:
data3= open(mainpath + '/' + 'customer-churn-model/Customer Churn Model.txt','r')
data3

<_io.TextIOWrapper name='D:\\Escritorio\\Clases Udemy\\Python Cursos\\Curso Completo de machine learning data science in python\\python-ml-course-master\\datasets/customer-churn-model/Customer Churn Model.txt' mode='r' encoding='cp1252'>

In [13]:
cols = data3.readline().strip().split(',')
n_cols= len(cols)
cols

['State',
 'Account Length',
 'Area Code',
 'Phone',
 "Int'l Plan",
 'VMail Plan',
 'VMail Message',
 'Day Mins',
 'Day Calls',
 'Day Charge',
 'Eve Mins',
 'Eve Calls',
 'Eve Charge',
 'Night Mins',
 'Night Calls',
 'Night Charge',
 'Intl Mins',
 'Intl Calls',
 'Intl Charge',
 'CustServ Calls',
 'Churn?']

In [14]:
counter=0
maindict={}
for col in cols:
    maindict[col]=[]
maindict

{'State': [],
 'Account Length': [],
 'Area Code': [],
 'Phone': [],
 "Int'l Plan": [],
 'VMail Plan': [],
 'VMail Message': [],
 'Day Mins': [],
 'Day Calls': [],
 'Day Charge': [],
 'Eve Mins': [],
 'Eve Calls': [],
 'Eve Charge': [],
 'Night Mins': [],
 'Night Calls': [],
 'Night Charge': [],
 'Intl Mins': [],
 'Intl Calls': [],
 'Intl Charge': [],
 'CustServ Calls': [],
 'Churn?': []}

In [15]:
for line in data3:
    values=line.strip().split(',')
    for i in range(len(cols)):
        maindict[cols[i]].append(values[i])
    counter +=1
print('el data ser tiene %d filas y %d columnas'%(counter,n_cols))

el data ser tiene 3333 filas y 21 columnas

In [16]:
df3=pd.DataFrame(maindict)
df3.head()

,State,Account Length,Area Code,Phone,Int'l Plan,VMail Plan,VMail Message,Day Mins,Day Calls,Day Charge,...,Eve Calls,Eve Charge,Night Mins,Night Calls,Night Charge,Intl Mins,Intl Calls,Intl Charge,CustServ Calls,Churn?
0,KS,128,415,382-4657,no,yes,25,265.100000,110,45.070000,...,99,16.780000,244.700000,91,11.010000,10.000000,3,2.700000,1,False.
1,OH,107,415,371-7191,no,yes,26,161.600000,123,27.470000,...,103,16.620000,254.400000,103,11.450000,13.700000,3,3.700000,1,False.
2,NJ,137,415,358-1921,no,no,0,243.400000,114,41.380000,...,110,10.300000,162.600000,104,7.320000,12.200000,5,3.290000,0,False.
3,OH,84,408,375-9999,yes,no,0,299.400000,71,50.900000,...,88,5.260000,196.900000,89,8.860000,6.600000,7,1.780000,2,False.
4,OK,75,415,330-6626,yes,no,0,166.700000,113,28.340000,...,122,12.610000,186.900000,121,8.410000,10.100000,3,2.730000,3,False.

#### <font color = green> Leer datos desde una URL externa

In [17]:
 medalsURL= 'http://winterolympicsmedals.com/medals.csv'

In [18]:
medalsData= pd.read_csv(medalsURL)
medalsData.head()

,Year,City,Sport,Discipline,NOC,Event,Event gender,Medal
0,1924,Chamonix,Skating,Figure skating,AUT,individual,M,Silver
1,1924,Chamonix,Skating,Figure skating,AUT,individual,W,Gold
2,1924,Chamonix,Skating,Figure skating,AUT,pairs,X,Gold
3,1924,Chamonix,Bobsleigh,Bobsleigh,BEL,four-man,M,Bronze
4,1924,Chamonix,Ice Hockey,Ice Hockey,CAN,ice hockey,M,Gold

In [19]:
import urllib3
http=urllib3.PoolManager()
r=http.request('GET', medalsURL)
r.status
response=r.data
response

b"Year,City,Sport,Discipline,NOC,Event,Event gender,Medal\n1924,Chamonix,Skating,Figure skating,AUT,individual,M,Silver\n1924,Chamonix,Skating,Figure skating,AUT,individual,W,Gold\n1924,Chamonix,Skating,Figure skating,AUT,pairs,X,Gold\n1924,Chamonix,Bobsleigh,Bobsleigh,BEL,four-man,M,Bronze\n1924,Chamonix,Ice Hockey,Ice Hockey,CAN,ice hockey,M,Gold\n1924,Chamonix,Biathlon,Biathlon,FIN,military patrol,M,Silver\n1924,Chamonix,Skating,Figure skating,FIN,pairs,X,Silver\n1924,Chamonix,Skating,Speed skating,FIN,10000m,M,Gold\n1924,Chamonix,Skating,Speed skating,FIN,10000m,M,Silver\n1924,Chamonix,Skating,Speed skating,FIN,1500m,M,Gold\n1924,Chamonix,Skating,Speed skating,FIN,5000m,M,Gold\n1924,Chamonix,Skating,Speed skating,FIN,5000m,M,Silver\n1924,Chamonix,Skating,Speed skating,FIN,500m,M,Bronze\n1924,Chamonix,Skating,Speed skating,FIN,combined (4 events),M,Bronze\n1924,Chamonix,Skating,Speed skating,FIN,combined (4 events),M,Gold\n1924,Chamonix,Skiing,Cross Country S,FIN,18km,M,Bronze\n1924,Chamonix,Biathlon,Biathlon,FRA,military patrol,M,Bronze\n1924,Chamonix,Curling,Curling,FRA,curling,M,Bronze\n1924,Chamonix,Skating,Figure skating,FRA,pairs,X,Bronze\n1924,Chamonix,Bobsleigh,Bobsleigh,GBR,four-man,M,Silver\n1924,Chamonix,Curling,Curling,GBR,curling,M,Gold\n1924,Chamonix,Ice Hockey,Ice Hockey,GBR,ice hockey,M,Bronze\n1924,Chamonix,Skating,Figure skating,GBR,individual,W,Bronze\n1924,Chamonix,Skating,Speed skating,NOR,10000m,M,Bronze\n1924,Chamonix,Skating,Speed skating,NOR,1500m,M,Bronze\n1924,Chamonix,Skating,Speed skating,NOR,1500m,M,Silver\n1924,Chamonix,Skating,Speed skating,NOR,5000m,M,Bronze\n1924,Chamonix,Skating,Speed skating,NOR,500m,M,Bronze\n1924,Chamonix,Skating,Speed skating,NOR,500m,M,Silver\n1924,Chamonix,Skating,Speed skating,NOR,combined (4 events),M,Silver\n1924,Chamonix,Skiing,Cross Country S,NOR,18km,M,Gold\n1924,Chamonix,Skiing,Cross Country S,NOR,18km,M,Silver\n1924,Chamonix,Skiing,Cross Country S,NOR,50km,M,Bronze\n1924,Chamonix,Skiing,Cross Country S,NOR,50km,M,Gold\n1924,Chamonix,Skiing,Cross Country S,NOR,50km,M,Silver\n1924,Chamonix,Skiing,Nordic Combined,NOR,individual,M,Bronze\n1924,Chamonix,Skiing,Nordic Combined,NOR,individual,M,Gold\n1924,Chamonix,Skiing,Nordic Combined,NOR,individual,M,Silver\n1924,Chamonix,Skiing,Ski Jumping,NOR,K90 individual (70m),M,Gold\n1924,Chamonix,Skiing,Ski Jumping,NOR,K90 individual (70m),M,Silver\n1924,Chamonix,Biathlon,Biathlon,SUI,military patrol,M,Gold\n1924,Chamonix,Bobsleigh,Bobsleigh,SUI,four-man,M,Gold\n1924,Chamonix,Skating,Figure skating,SUI,individual,M,Bronze\n1924,Chamonix,Curling,Curling,SWE,curling,M,Silver\n1924,Chamonix,Skating,Figure skating,SWE,individual,M,Gold\n1924,Chamonix,Ice Hockey,Ice Hockey,USA,ice hockey,M,Silver\n1924,Chamonix,Skating,Figure skating,USA,individual,W,Silver\n1924,Chamonix,Skating,Speed skating,USA,500m,M,Gold\n1924,Chamonix,Skiing,Ski Jumping,USA,K90 individual (70m),M,Bronze\n1928,St. Moritz,Skating,Figure skating,AUT,individual,M,Silver\n1928,St. Moritz,Skating,Figure skating,AUT,individual,W,Silver\n1928,St. Moritz,Skating,Figure skating,AUT,pairs,X,Bronze\n1928,St. Moritz,Skating,Figure skating,AUT,pairs,X,Silver\n1928,St. Moritz,Skating,Figure skating,BEL,individual,M,Bronze\n1928,St. Moritz,Ice Hockey,Ice Hockey,CAN,ice hockey,M,Gold\n1928,St. Moritz,Skating,Speed skating,FIN,1500m,M,Gold\n1928,St. Moritz,Skating,Speed skating,FIN,5000m,M,Silver\n1928,St. Moritz,Skating,Speed skating,FIN,500m,M,Bronze\n1928,St. Moritz,Skating,Speed skating,FIN,500m,M,Gold\n1928,St. Moritz,Skating,Figure skating,FRA,pairs,X,Gold\n1928,St. Moritz,Bobsleigh,Skeleton,GBR,individual,M,Bronze\n1928,St. Moritz,Bobsleigh,Bobsleigh,GER,five-man,M,Bronze\n1928,St. Moritz,Skating,Figure skating,NOR,individual,W,Gold\n1928,St. Moritz,Skating,Speed skating,NOR,1500m,M,Bronze\n1928,St. Moritz,Skating,Speed skating,NOR,1500m,M,Silver\n1928,St. Moritz,Skating,Speed skating,NOR,5000m,M,Bronze\n1928,St. Moritz,Skating,Speed skating,NOR,5000m,M,Gold\n1928,St. Moritz,Skating,Speed skating,NOR,500m,M,Bronze\n1928,St. Moritz,Skating,Speed skating,NOR,500m,M,Gold\n1928,St. Moritz,Skiing,Cross Country S,NOR,18km,M,Bronze\n1928,St. Moritz,Skiing,Cross Country S,NOR,18km,M,Gold\n1928,St. Moritz,Skiing,Cross Country S,NOR,18km,M,Silver\n1928,St. Moritz,Skiing,Nordic Combined,NOR,individual,M,Bronze\n1928,St. Moritz,Skiing,Nordic Combined,NOR,individual,M,Gold\n1928,St. Moritz,Skiing,Nordic Combined,NOR,individual,M,Silver\n1928,St. Moritz,Skiing,Ski Jumping,NOR,K90 individual (70m),M,Gold\n1928,St. Moritz,Skiing,Ski Jumping,NOR,K90 individual (70m),M,Silver\n1928,St. Moritz,Ice Hockey,Ice Hockey,SUI,ice hockey,M,Bronze\n1928,St. Moritz,Ice Hockey,Ice Hockey,SWE,ice hockey,M,Silver\n1928,St. Moritz,Skating,Figure skating,SWE,individual,M,Gold\n1928,St. Moritz,Skiing,Cross Country S,SWE,50km,M,Bronze\n1928,St. Moritz,Skiing,Cross Country S,SWE,50km,M,Gold\n1928,St. Moritz,Skiing,Cross Country S,SWE,50km,M,Silver\n1928,St. Moritz,Skiing,Ski Jumping,TCH,K90 individual (70m),M,Bronze\n1928,St. Moritz,Bobsleigh,Bobsleigh,USA,five-man,M,Gold\n1928,St. Moritz,Bobsleigh,Bobsleigh,USA,five-man,M,Silver\n1928,St. Moritz,Bobsleigh,Skeleton,USA,individual,M,Gold\n1928,St. Moritz,Bobsleigh,Skeleton,USA,individual,M,Silver\n1928,St. Moritz,Skating,Figure skating,USA,individual,W,Bronze\n1928,St. Moritz,Skating,Speed skating,USA,500m,M,Bronze\n1932,Lake Placid,Skating,Figure skating,AUT,individual,M,Gold\n1932,Lake Placid,Skating,Figure skating,AUT,individual,W,Silver\n1932,Lake Placid,Ice Hockey,Ice Hockey,CAN,ice hockey,M,Gold\n1932,Lake Placid,Skating,Figure skating,CAN,individual,M,Bronze\n1932,Lake Placid,Skating,Speed skating,CAN,10000m,M,Bronze\n1932,Lake Placid,Skating,Speed skating,CAN,1500m,M,Bronze\n1932,Lake Placid,Skating,Speed skating,CAN,1500m,M,Silver\n1932,Lake Placid,Skating,Speed skating,CAN,5000m,M,Bronze\n1932,Lake Placid,Skating,Speed skating,CAN,500m,M,Bronze\n1932,Lake Placid,Skiing,Cross Country S,FIN,18km,M,Bronze\n1932,Lake Placid,Skiing,Cross Country S,FIN,50km,M,Gold\n1932,Lake Placid,Skiing,Cross Country S,FIN,50km,M,Silver\n1932,Lake Placid,Skating,Figure skating,FRA,pairs,X,Gold\n1932,Lake Placid,Bobsleigh,Bobsleigh,GER,four-man,M,Bronze\n1932,Lake Placid,Ice Hockey,Ice Hockey,GER,ice hockey,M,Bronze\n1932,Lake Placid,Skating,Figure skating,HUN,pairs,X,Bronze\n1932,Lake Placid,Skating,Figure skating,NOR,individual,W,Gold\n1932,Lake Placid,Skating,Speed skating,NOR,10000m,M,Silver\n1932,Lake Placid,Skating,Speed skating,NOR,500m,M,Silver\n1932,Lake Placid,Skiing,Cross Country S,NOR,50km,M,Bronze\n1932,Lake Placid,Skiing,Nordic Combined,NOR,individual,M,Bronze\n1932,Lake Placid,Skiing,Nordic Combined,NOR,individual,M,Gold\n1932,Lake Placid,Skiing,Nordic Combined,NOR,individual,M,Silver\n1932,Lake Placid,Skiing,Ski Jumping,NOR,K90 individual (70m),M,Bronze\n1932,Lake Placid,Skiing,Ski Jumping,NOR,K90 individual (70m),M,Gold\n1932,Lake Placid,Skiing,Ski Jumping,NOR,K90 individual (70m),M,Silver\n1932,Lake Placid,Bobsleigh,Bobsleigh,SUI,two-man,M,Silver\n1932,Lake Placid,Skating,Figure skating,SWE,individual,M,Silver\n1932,Lake Placid,Skiing,Cross Country S,SWE,18km,M,Gold\n1932,Lake Placid,Skiing,Cross Country S,SWE,18km,M,Silver\n1932,Lake Placid,Bobsleigh,Bobsleigh,USA,four-man,M,Gold\n1932,Lake Placid,Bobsleigh,Bobsleigh,USA,four-man,M,Silver\n1932,Lake Placid,Bobsleigh,Bobsleigh,USA,two-man,M,Bronze\n1932,Lake Placid,Bobsleigh,Bobsleigh,USA,two-man,M,Gold\n1932,Lake Placid,Ice Hockey,Ice Hockey,USA,ice hockey,M,Silver\n1932,Lake Placid,Skating,Figure skating,USA,individual,W,Bronze\n1932,Lake Placid,Skating,Figure skating,USA,pairs,X,Silver\n1932,Lake Placid,Skating,Speed skating,USA,10000m,M,Gold\n1932,Lake Placid,Skating,Speed skating,USA,1500m,M,Gold\n1932,Lake Placid,Skating,Speed skating,USA,5000m,M,Gold\n1932,Lake Placid,Skating,Speed skating,USA,5000m,M,Silver\n1932,Lake Placid,Skating,Speed skating,USA,500m,M,Gold\n1936,Garmisch-Partenkirchen,Skating,Figure skating,AUT,individual,M,Bronze\n1936,Garmisch-Partenkirchen,Skating,Figure skating,AUT,individual,M,Gold\n1936,Garmisch-Partenkirchen,Skating,Figure skating,AUT,pairs,X,Silver\n1936,Garmisch-Partenkirchen,Skating,Speed skating,AUT,10000m,M,Bronze\n1936,Garmisch-Partenkirchen,Ice Hockey,Ice Hockey,CAN,ice hockey,M,Silver\n1936,Garmisch-Partenkirchen,Skating,Speed skating,FIN,10000m,M,Silver\n1936,Garmisch-Partenkirchen,Skating,Speed skating,FIN,1500m,M,Bronze\n1936,Garmisch-Partenkirchen,Skating,Speed skating,FIN,5000m,M,Bronze\n1936,Garmisch-Partenkirchen,Skating,Speed skating,FIN,5000m,M,Silver\n1936,Garmisch-Partenkirchen,Skiing,Cross Country S,FIN,18km,M,Bronze\n1936,Garmisch-Partenkirchen,Skiing,Cross Country S,FIN,4x10km relay,M,Gold\n1936,Garmisch-Partenkirchen,Skiing,Alpine Skiing,FRA,alpine combined,M,Bronze\n1936,Garmisch-Partenkirchen,Bobsleigh,Bobsleigh,GBR,four-man,M,Bronze\n1936,Garmisch-Partenkirchen,Ice Hockey,Ice Hockey,GBR,ice hockey,M,Gold\n1936,Garmisch-Partenkirchen,Skating,Figure skating,GBR,individual,W,Silver\n1936,Garmisch-Partenkirchen,Skating,Figure skating,GER,individual,M,Silver\n1936,Garmisch-Partenkirchen,Skating,Figure skating,GER,pairs,X,Gold\n1936,Garmisch-Partenkirchen,Skiing,Alpine Skiing,GER,alpine combined,M,Gold\n1936,Garmisch-Partenkirchen,Skiing,Alpine Skiing,GER,alpine combined,M,Silver\n1936,Garmisch-Partenkirchen,Skiing,Alpine Skiing,GER,alpine combined,W,Gold\n1936,Garmisch-Partenkirchen,Skiing,Alpine Skiing,GER,alpine combined,W,Silver\n1936,Garmisch-Partenkirchen,Skating,Figure skating,HUN,pairs,X,Bronze\n1936,Garmisch-Partenkirchen,Skating,Figure skating,NOR,individual,W,Gold\n1936,Garmisch-Partenkirchen,Skating,Speed skating,NOR,10000m,M,Gold\n1936,Garmisch-Partenkirchen,Skating,Speed skating,NOR,1500m,M,Gold\n1936,Garmisch-Partenkirchen,Skating,Speed skating,NOR,1500m,M,Silver\n1936,Garmisch-Partenkirchen,Skating,Speed skating,NOR,5000m,M,Gold\n1936,Garmisch-Partenkirchen,Skating,Speed skating,NOR,500m,M,Gold\n1936,Garmisch-Partenkirchen,Skating,Speed skating,NOR,500m,M,Silver\n1936,Garmisch-Partenkirchen,Skiing,Alpine Skiing,NOR,alpine combined,W,Bronze\n1936,Garmisch-Partenkirchen,Skiing,Cross Country S,NOR,18km,M,Silver\n1936,Garmisch-Partenkirchen,Skiing,Cross Country S,NOR,4x10km relay,M,Silver\n1936,Garmisch-Partenkirchen,Skiing,Nordic Combined,NOR,individual,M,Bronze\n1936,Garmisch-Partenkirchen,Skiing,Nordic Combined,NOR,individual,M,Gold\n1936,Garmisch-Partenkirchen,Skiing,Nordic Combined,NOR,individual,M,Silver\n1936,Garmisch-Partenkirchen,Skiing,Ski Jumping,NOR,K90 individual (70m),M,Bronze\n1936,Garmisch-Partenkirchen,Skiing,Ski Jumping,NOR,K90 individual (70m),M,Gold\n1936,Garmisch-Partenkirchen,Bobsleigh,Bobsleigh,SUI,four-man,M,Gold\n1936,Garmisch-Partenkirchen,Bobsleigh,Bobsleigh,SUI,four-man,M,Silver\n1936,Garmisch-Partenkirchen,Bobsleigh,Bobsleigh,SUI,two-man,M,Silver\n1936,Garmisch-Partenkirchen,Skating,Figure skating,SWE,individual,W,Bronze\n1936,Garmisch-Partenkirchen,Skiing,Cross Country S,SWE,18km,M,Gold\n1936,Garmisch-Partenkirchen,Skiing,Cross Country S,SWE,4x10km relay,M,Bronze\n1936,Garmisch-Partenkirchen,Skiing,Cross Country S,SWE,50km,M,Bronze\n1936,Garmisch-Partenkirchen,Skiing,Cross Country S,SWE,50km,M,Gold\n1936,Garmisch-Partenkirchen,Skiing,Cross Country S,SWE,50km,M,Silver\n1936,Garmisch-Partenkirchen,Skiing,Ski Jumping,SWE,K90 individual (70m),M,Silver\n1936,Garmisch-Partenkirchen,Bobsleigh,Bobsleigh,USA,two-man,M,Bronze\n1936,Garmisch-Partenkirchen,Bobsleigh,Bobsleigh,USA,two-man,M,Gold\n1936,Garmisch-Partenkirchen,Ice Hockey,Ice Hockey,USA,ice hockey,M,Bronze\n1936,Garmisch-Partenkirchen,Skating,Speed skating,USA,500m,M,Bronze\n1948,St. Moritz,Skating,Figure skating,AUT,individual,M,Bronze\n1948,St. Moritz,Skating,Figure skating,AUT,individual,W,Silver\n1948,St. Moritz,Skiing,Alpine Skiing,AUT,alpine combined,W,Bronze\n1948,St. Moritz,Skiing,Alpine Skiing,AUT,alpine combined,W,Gold\n1948,St. Moritz,Skiing,Alpine Skiing,AUT,downhill,M,Silver\n1948,St. Moritz,Skiing,Alpine Skiing,AUT,downhill,W,Bronze\n1948,St. Moritz,Skiing,Alpine Skiing,AUT,downhill,W,Silver\n1948,St. Moritz,Skiing,Alpine Skiing,AUT,slalom,W,Bronze\n1948,St. Moritz,Bobsleigh,Bobsleigh,BEL,four-man,M,Silver\n1948,St. Moritz,Skating,Figure skating,BEL,pairs,X,Gold\n1948,St. Moritz,Ice Hockey,Ice Hockey,CAN,ice hockey,M,Gold\n1948,St. Moritz,Skating,Figure skating,CAN,individual,W,Gold\n1948,St. Moritz,Skating,Figure skating,CAN,pairs,X,Bronze\n1948,St. Moritz,Skating,Speed skating,FIN,10000m,M,Bronze\n1948,St. Moritz,Skating,Speed skating,FIN,10000m,M,Silver\n1948,St. Moritz,Skiing,Cross Country S,FIN,4x10km relay,M,Silver\n1948,St. Moritz,Skiing,Cross Country S,FIN,50km,M,Bronze\n1948,St. Moritz,Skiing,Nordic Combined,FIN,individual,M,Gold\n1948,St. Moritz,Skiing,Nordic Combined,FIN,individual,M,Silver\n1948,St. Moritz,Skiing,Alpine Skiing,FRA,alpine combined,M,Bronze\n1948,St. Moritz,Skiing,Alpine Skiing,FRA,alpine combined,M,Gold\n1948,St. Moritz,Skiing,Alpine Skiing,FRA,downhill,M,Gold\n1948,St. Moritz,Skiing,Alpine Skiing,FRA,slalom,M,Bronze\n1948,St. Moritz,Skiing,Alpine Skiing,FRA,slalom,M,Silver\n1948,St. Moritz,Bobsleigh,Skeleton,GBR,individual,M,Bronze\n1948,St. Moritz,Skating,Figure skating,GBR,individual,W,Bronze\n1948,St. Moritz,Skating,Figure skating,HUN,pairs,X,Silver\n1948,St. Moritz,Bobsleigh,Skeleton,ITA,individual,M,Gold\n1948,St. Moritz,Skating,Speed skating,NOR,1500m,M,Bronze\n1948,St. Moritz,Skating,Speed skating,NOR,1500m,M,Gold\n1948,St. Moritz,Skating,Speed skating,NOR,5000m,M,Gold\n1948,St. Moritz,Skating,Speed skating,NOR,5000m,M,Silver\n1948,St. Moritz,Skating,Speed skating,NOR,500m,M,Gold\n1948,St. Moritz,Skating,Speed skating,NOR,500m,M,Silver\n1948,St. Moritz,Skiing,Cross Country S,NOR,4x10km relay,M,Bronze\n1948,St. Moritz,Skiing,Ski Jumping,NOR,K90 individual (70m),M,Bronze\n1948,St. Moritz,Skiing,Ski Jumping,NOR,K90 individual (70m),M,Gold\n1948,St. Moritz,Skiing,Ski Jumping,NOR,K90 individual (70m),M,Silver\n1948,St. Moritz,Bobsleigh,Bobsleigh,SUI,two-man,M,Gold\n1948,St. Moritz,Bobsleigh,Bobsleigh,SUI,two-man,M,Silver\n1948,St. Moritz,Ice Hockey,Ice Hockey,SUI,ice hockey,M,Bronze\n1948,St. Moritz,Skating,Figure skating,SUI,individual,M,Silver\n1948,St. Moritz,Skiing,Alpine Skiing,SUI,alpine combined,M,Silver\n1948,St. Moritz,Skiing,Alpine Skiing,SUI,downhill,M,Bronze\n1948,St. Moritz,Skiing,Alpine Skiing,SUI,downhill,M,Bronze\n1948,St. Moritz,Skiing,Alpine Skiing,SUI,downhill,W,Gold\n1948,St. Moritz,Skiing,Alpine Skiing,SUI,slalom,M,Gold\n1948,St. Moritz,Skiing,Alpine Skiing,SUI,slalom,W,Silver\n1948,St. Moritz,Skating,Speed skating,SWE,10000m,M,Gold\n1948,St. Moritz,Skating,Speed skating,SWE,1500m,M,Silver\n1948,St. Moritz,Skating,Speed skating,SWE,5000m,M,Bronze\n1948,St. Moritz,Skiing,Cross Country S,SWE,18km,M,Bronze\n1948,St. Moritz,Skiing,Cross Country S,SWE,18km,M,Gold\n1948,St. Moritz,Skiing,Cross Country S,SWE,18km,M,Silver\n1948,St. Moritz,Skiing,Cross Country S,SWE,4x10km relay,M,Gold\n1948,St. Moritz,Skiing,Cross Country S,SWE,50km,M,Gold\n1948,St. Moritz,Skiing,Cross Country S,SWE,50km,M,Silver\n1948,St. Moritz,Skiing,Nordic Combined,SWE,individual,M,Bronze\n1948,St. Moritz,Ice Hockey,Ice Hockey,TCH,ice hockey,M,Silver\n1948,St. Moritz,Bobsleigh,Bobsleigh,USA,four-man,M,Bronze\n1948,St. Moritz,Bobsleigh,Bobsleigh,USA,four-man,M,Gold\n1948,St. Moritz,Bobsleigh,Bobsleigh,USA,two-man,M,Bronze\n1948,St. Moritz,Bobsleigh,Skeleton,USA,individual,M,Silver\n1948,St. Moritz,Skating,Figure skating,USA,individual,M,Gold\n1948,St. Moritz,Skating,Speed skating,USA,500m,M,Silver\n1948,St. Moritz,Skating,Speed skating,USA,500m,M,Silver\n1948,St. Moritz,Skiing,Alpine Skiing,USA,alpine combined,W,Silver\n1948,St. Moritz,Skiing,Alpine Skiing,USA,slalom,W,Gold\n1952,Oslo,Skating,Figure skating,AUT,individual,M,Silver\n1952,Oslo,Skiing,Alpine Skiing,AUT,downhill,M,Bronze\n1952,Oslo,Skiing,Alpine Skiing,AUT,downhill,M,Silver\n1952,Oslo,Skiing,Alpine Skiing,AUT,downhill,W,Gold\n1952,Oslo,Skiing,Alpine Skiing,AUT,giant slalom,M,Bronze\n1952,Oslo,Skiing,Alpine Skiing,AUT,giant slalom,M,Silver\n1952,Oslo,Skiing,Alpine Skiing,AUT,giant slalom,W,Silver\n1952,Oslo,Skiing,Alpine Skiing,AUT,slalom,M,Gold\n1952,Oslo,Ice Hockey,Ice Hockey,CAN,ice hockey,M,Gold\n1952,Oslo,Skating,Speed skating,CAN,500m,M,Bronze\n1952,Oslo,Skiing,Cross Country S,FIN,10km,W,Bronze\n1952,Oslo,Skiing,Cross Country S,FIN,10km,W,Gold\n1952,Oslo,Skiing,Cross Country S,FIN,10km,W,Silver\n1952,Oslo,Skiing,Cross Country S,FIN,18km,M,Bronze\n1952,Oslo,Skiing,Cross Country S,FIN,18km,M,Silver\n1952,Oslo,Skiing,Cross Country S,FIN,4x10km relay,M,Gold\n1952,Oslo,Skiing,Cross Country S,FIN,50km,M,Gold\n1952,Oslo,Skiing,Cross Country S,FIN,50km,M,Silver\n1952,Oslo,Skiing,Nordic Combined,FIN,individual,M,Silver\n1952,Oslo,Skating,Figure skating,FRA,individual,W,Bronze\n1952,Oslo,Bobsleigh,Bobsleigh,FRG,four-man,M,Gold\n1952,Oslo,Bobsleigh,Bobsleigh,FRG,two-man,M,Gold\n1952,Oslo,Skating,Figure skating,GBR,individual,W,Gold\n1952,Oslo,Skating,Figure skating,GER,pairs,X,Gold\n1952,Oslo,Skiing,Alpine Skiing,GER,downhill,W,Silver\n1952,Oslo,Skiing,Alpine Skiing,GER,giant slalom,W,Bronze\n1952,Oslo,Skiing,Alpine Skiing,GER,slalom,W,Bronze\n1952,Oslo,Skiing,Alpine Skiing,GER,slalom,W,Silver\n1952,Oslo,Skating,Figure skating,HUN,pairs,X,Bronze\n1952,Oslo,Skiing,Alpine Skiing,ITA,downhill,M,Gold\n1952,Oslo,Skiing,Alpine Skiing,ITA,downhill,W,Bronze\n1952,Oslo,Skating,Speed skating,NED,10000m,M,Silver\n1952,Oslo,Skating,Speed skating,NED,1500m,M,Silver\n1952,Oslo,Skating,Speed skating,NED,5000m,M,Silver\n1952,Oslo,Skating,Speed skating,NOR,10000m,M,Gold\n1952,Oslo,Skating,Speed skating,NOR,1500m,M,Bronze\n1952,Oslo,Skating,Speed skating,NOR,1500m,M,Gold\n1952,Oslo,Skating,Speed skating,NOR,5000m,M,Bronze\n1952,Oslo,Skating,Speed skating,NOR,5000m,M,Gold\n1952,Oslo,Skating,Speed skating,NOR,500m,M,Bronze\n1952,Oslo,Skiing,Alpine Skiing,NOR,giant slalom,M,Gold\n1952,Oslo,Skiing,Alpine Skiing,NOR,slalom,M,Bronze\n1952,Oslo,Skiing,Alpine Skiing,NOR,slalom,M,Silver\n1952,Oslo,Skiing,Cross Country S,NOR,18km,M,Gold\n1952,Oslo,Skiing,Cross Country S,NOR,4x10km relay,M,Silver\n1952,Oslo,Skiing,Cross Country S,NOR,50km,M,Bronze\n1952,Oslo,Skiing,Nordic Combined,NOR,individual,M,Bronze\n1952,Oslo,Skiing,Nordic Combined,NOR,individual,M,Gold\n1952,Oslo,Skiing,Ski Jumping,NOR,K90 individual (70m),M,Gold\n1952,Oslo,Skiing,Ski Jumping,NOR,K90 individual (70m),M,Silver\n1952,Oslo,Bobsleigh,Bobsleigh,SUI,four-man,M,Bronze\n1952,Oslo,Bobsleigh,Bobsleigh,SUI,two-man,M,Bronze\n1952,Oslo,Ice Hockey,Ice Hockey,SWE,ice hockey,M,Bronze\n1952,Oslo,Skating,Speed skating,SWE,10000m,M,Bronze\n1952,Oslo,Skiing,Cross Country S,SWE,4x10km relay,M,Bronze\n1952,Oslo,Skiing,Ski Jumping,SWE,K90 individual (70m),M,Bronze\n1952,Oslo,Bobsleigh,Bobsleigh,USA,four-man,M,Silver\n1952,Oslo,Bobsleigh,Bobsleigh,USA,two-man,M,Silver\n1952,Oslo,Ice Hockey,Ice Hockey,USA,ice hockey,M,Silver\n1952,Oslo,Skating,Figure skating,USA,individual,M,Bronze\n1952,Oslo,Skating,Figure skating,USA,individual,M,Gold\n1952,Oslo,Skating,Figure skating,USA,individual,W,Silver\n1952,Oslo,Skating,Figure skating,USA,pairs,X,Silver\n1952,Oslo,Skating,Speed skating,USA,500m,M,Gold\n1952,Oslo,Skating,Speed skating,USA,500m,M,Silver\n1952,Oslo,Skiing,Alpine Skiing,USA,giant slalom,W,Gold\n1952,Oslo,Skiing,Alpine Skiing,USA,slalom,W,Gold\n1956,Cortina d'Ampezzo,Skating,Figure skating,AUT,individual,W,Bronze\n1956,Cortina d'Ampezzo,Skating,Figure skating,AUT,pairs,X,Gold\n1956,Cortina d'Ampezzo,Skiing,Alpine Skiing,AUT,downhill,M,Bronze\n1956,Cortina d'Ampezzo,Skiing,Alpine Skiing,AUT,downhill,M,Gold\n1956,Cortina d'Ampezzo,Skiing,Alpine Skiing,AUT,giant slalom,M,Bronze\n1956,Cortina d'Ampezzo,Skiing,Alpine Skiing,AUT,giant slalom,M,Gold\n1956,Cortina d'Ampezzo,Skiing,Alpine Skiing,AUT,giant slalom,M,Silver\n1956,Cortina d'Ampezzo,Skiing,Alpine Skiing,AUT,giant slalom,W,Bronze\n1956,Cortina d'Ampezzo,Skiing,Alpine Skiing,

In [20]:
import csv
cr=csv.reader(response)

#### <fon color = green>Ficheros de excel

In [21]:
# Working Directory
mainpath = r'D:\Escritorio\python courses\Curso Completo de machine learning data science in python\python-ml-course-master\datasets'
filename = r'titanic\titanic3.xls'
filename2=filename = r'titanic\titanic3.xlsx'

In [22]:
titanic2=pd.read_excel(mainpath + '/' + filename, 'titanic3')
titanic3=pd.read_excel(mainpath + '/' + filename2, 'titanic3')
titanic3.head()

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,1,1,"Allen, Miss. Elisabeth Walton",female,29.0000,0,0,24160,211.3375,B5,S,2,NaN,"St Louis, MO"
1,1,1,"Allison, Master. Hudson Trevor",male,0.9167,1,2,113781,151.5500,C22 C26,S,11,NaN,"Montreal, PQ / Chesterville, ON"
2,1,0,"Allison, Miss. Helen Loraine",female,2.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
3,1,0,"Allison, Mr. Hudson Joshua Creighton",male,30.0000,1,2,113781,151.5500,C22 C26,S,NaN,135.0,"Montreal, PQ / Chesterville, ON"
4,1,0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"

In [23]:
titanic3.to_csv(mainpath + '/titanic/titanic_custom.csv')

In [24]:
titanic3.to_excel(mainpath + '/titanic/titanic_custom.xls')

#### <font color = green> Funciones basicas de resumen, estructura, dimensiones y cabecera

In [25]:
mainpath = r'D:\Escritorio\python courses\Curso Completo de machine learning data science in python\python-ml-course-master\datasets'
filename = r'titanic\titanic3.csv'
fullpath = os.path.join(mainpath, filename)

In [26]:
data = pd.read_csv(fullpath)
data.head()

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,1,1,"Allen, Miss. Elisabeth Walton",female,29.0000,0,0,24160,211.3375,B5,S,2,NaN,"St Louis, MO"
1,1,1,"Allison, Master. Hudson Trevor",male,0.9167,1,2,113781,151.5500,C22 C26,S,11,NaN,"Montreal, PQ / Chesterville, ON"
2,1,0,"Allison, Miss. Helen Loraine",female,2.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
3,1,0,"Allison, Mr. Hudson Joshua Creighton",male,30.0000,1,2,113781,151.5500,C22 C26,S,NaN,135.0,"Montreal, PQ / Chesterville, ON"
4,1,0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"

In [27]:
data.tail()

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
1304,3,0,"Zabour, Miss. Hileni",female,14.5,1,0,2665,14.4542,NaN,C,NaN,328.0,NaN
1305,3,0,"Zabour, Miss. Thamine",female,NaN,1,0,2665,14.4542,NaN,C,NaN,NaN,NaN
1306,3,0,"Zakarian, Mr. Mapriededer",male,26.5,0,0,2656,7.2250,NaN,C,NaN,304.0,NaN
1307,3,0,"Zakarian, Mr. Ortin",male,27.0,0,0,2670,7.2250,NaN,C,NaN,NaN,NaN
1308,3,0,"Zimmerman, Mr. Leo",male,29.0,0,0,315082,7.8750,NaN,S,NaN,NaN,NaN

In [28]:
data.shape

(1309, 14)

In [29]:
data.columns.values

array(['pclass', 'survived', 'name', 'sex', 'age', 'sibsp', 'parch',
       'ticket', 'fare', 'cabin', 'embarked', 'boat', 'body', 'home.dest'],
      dtype=object)

#### Resumenes estadisticos basicos

In [30]:
data.describe()

,pclass,survived,age,sibsp,parch,fare,body
count,1309.000000,1309.000000,1046.000000,1309.000000,1309.000000,1308.000000,121.000000
mean,2.294882,0.381971,29.881135,0.498854,0.385027,33.295479,160.809917
std,0.837836,0.486055,14.413500,1.041658,0.865560,51.758668,97.696922
min,1.000000,0.000000,0.166700,0.000000,0.000000,0.000000,1.000000
25%,2.000000,0.000000,21.000000,0.000000,0.000000,7.895800,72.000000
50%,3.000000,0.000000,28.000000,0.000000,0.000000,14.454200,155.000000
75%,3.000000,1.000000,39.000000,1.000000,0.000000,31.275000,256.000000
max,3.000000,1.000000,80.000000,8.000000,9.000000,512.329200,328.000000

In [31]:
data.describe(include='all')

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
count,1309.000000,1309.000000,1309,1309,1046.000000,1309.000000,1309.000000,1309,1308.000000,295,1307,486,121.000000,745
unique,NaN,NaN,1307,2,NaN,NaN,NaN,929,NaN,186,3,27,NaN,369
top,NaN,NaN,"Connolly, Miss. Kate",male,NaN,NaN,NaN,CA. 2343,NaN,C23 C25 C27,S,13,NaN,"New York, NY"
freq,NaN,NaN,2,843,NaN,NaN,NaN,11,NaN,6,914,39,NaN,64
mean,2.294882,0.381971,NaN,NaN,29.881135,0.498854,0.385027,NaN,33.295479,NaN,NaN,NaN,160.809917,NaN
std,0.837836,0.486055,NaN,NaN,14.413500,1.041658,0.865560,NaN,51.758668,NaN,NaN,NaN,97.696922,NaN
min,1.000000,0.000000,NaN,NaN,0.166700,0.000000,0.000000,NaN,0.000000,NaN,NaN,NaN,1.000000,NaN
25%,2.000000,0.000000,NaN,NaN,21.000000,0.000000,0.000000,NaN,7.895800,NaN,NaN,NaN,72.000000,NaN
50%,3.000000,0.000000,NaN,NaN,28.000000,0.000000,0.000000,NaN,14.454200,NaN,NaN,NaN,155.000000,NaN
75%,3.000000,1.000000,NaN,NaN,39.000000,1.000000,0.000000,NaN,31.275000,NaN,NaN,NaN,256.000000,NaN
max,3.000000,1.000000,NaN,NaN,80.000000,8.000000,9.000000,NaN,512.329200,NaN,NaN,NaN,328.000000,NaN

In [32]:
data.dtypes

pclass         int64
survived       int64
name          object
sex           object
age          float64
sibsp          int64
parch          int64
ticket        object
fare         float64
cabin         object
embarked      object
boat          object
body         float64
home.dest     object
dtype: object

#### <font color = green> Missing values

In [36]:
pd.isnull(data['body'])

0        True
1        True
2        True
3       False
4        True
        ...
1304    False
1305     True
1306    False
1307     True
1308     True
Name: body, Length: 1309, dtype: bool

In [79]:
pd.isnull(data.body).values.sum()

1188

In [72]:
data.isnull().sum()

pclass          0
survived        0
name            0
sex             0
age           263
sibsp           0
parch           0
ticket          0
fare            1
cabin        1014
embarked        2
boat          823
body         1188
home.dest     564
dtype: int64

In [81]:
data.body.notnull().values.sum()
data['body'].notnull().values.sum()

121

#### <font color = green> Los valores que faltan en un dataset pueden venir por dos razones:
* Extraccion de los datos.
* Recoleccion de los datos.
 
Que hacer con estos <font color = cyan>**Valores Faltantes**?<font>

 #### <font color = green> Borrado de valores que faltan

In [82]:
# borrar fila si todas sus columnas son NA's
data.dropna(axis=0, how='all')

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,1,1,"Allen, Miss. Elisabeth Walton",female,29.0000,0,0,24160,211.3375,B5,S,2,NaN,"St Louis, MO"
1,1,1,"Allison, Master. Hudson Trevor",male,0.9167,1,2,113781,151.5500,C22 C26,S,11,NaN,"Montreal, PQ / Chesterville, ON"
2,1,0,"Allison, Miss. Helen Loraine",female,2.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
3,1,0,"Allison, Mr. Hudson Joshua Creighton",male,30.0000,1,2,113781,151.5500,C22 C26,S,NaN,135.0,"Montreal, PQ / Chesterville, ON"
4,1,0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1304,3,0,"Zabour, Miss. Hileni",female,14.5000,1,0,2665,14.4542,NaN,C,NaN,328.0,NaN
1305,3,0,"Zabour, Miss. Thamine",female,NaN,1,0,2665,14.4542,NaN,C,NaN,NaN,NaN
1306,3,0,"Zakarian, Mr. Mapriededer",male,26.5000,0,0,2656,7.2250,NaN,C,NaN,304.0,NaN
1307,3,0,"Zakarian, Mr. Ortin",male,27.0000,0,0,2670,7.2250,NaN,C,NaN,NaN,NaN
1308,3,0,"Zimmerman, Mr. Leo",male,29.0000,0,0,315082,7.8750,NaN,S,NaN,NaN,NaN

In [85]:
data2= data
# borrar fila si alguna de sus columnas son NA's
data2.dropna(axis=0, how='any')

Empty DataFrame
Columns: [pclass, survived, name, sex, age, sibsp, parch, ticket, fare, cabin, embarked, boat, body, home.dest]
Index: []

 #### <font color = green> Imputacion

In [90]:
data3=data
data3.fillna('desconocido')

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,1,1,"Allen, Miss. Elisabeth Walton",female,29,0,0,24160,211.338,B5,S,2,desconocido,"St Louis, MO"
1,1,1,"Allison, Master. Hudson Trevor",male,0.9167,1,2,113781,151.55,C22 C26,S,11,desconocido,"Montreal, PQ / Chesterville, ON"
2,1,0,"Allison, Miss. Helen Loraine",female,2,1,2,113781,151.55,C22 C26,S,desconocido,desconocido,"Montreal, PQ / Chesterville, ON"
3,1,0,"Allison, Mr. Hudson Joshua Creighton",male,30,1,2,113781,151.55,C22 C26,S,desconocido,135,"Montreal, PQ / Chesterville, ON"
4,1,0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25,1,2,113781,151.55,C22 C26,S,desconocido,desconocido,"Montreal, PQ / Chesterville, ON"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1304,3,0,"Zabour, Miss. Hileni",female,14.5,1,0,2665,14.4542,desconocido,C,desconocido,328,desconocido
1305,3,0,"Zabour, Miss. Thamine",female,desconocido,1,0,2665,14.4542,desconocido,C,desconocido,desconocido,desconocido
1306,3,0,"Zakarian, Mr. Mapriededer",male,26.5,0,0,2656,7.225,desconocido,C,desconocido,304,desconocido
1307,3,0,"Zakarian, Mr. Ortin",male,27,0,0,2670,7.225,desconocido,C,desconocido,desconocido,desconocido
1308,3,0,"Zimmerman, Mr. Leo",male,29,0,0,315082,7.875,desconocido,S,desconocido,desconocido,desconocido

In [101]:
data5=data
data5.body.fillna(0)
data5['home.dest']=data5['home.dest'].fillna('D')
data5.tail()

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
1304,3,0,"Zabour, Miss. Hileni",female,14.5,1,0,2665,14.4542,NaN,C,NaN,328.0,desconocido
1305,3,0,"Zabour, Miss. Thamine",female,NaN,1,0,2665,14.4542,NaN,C,NaN,NaN,desconocido
1306,3,0,"Zakarian, Mr. Mapriededer",male,26.5,0,0,2656,7.2250,NaN,C,NaN,304.0,desconocido
1307,3,0,"Zakarian, Mr. Ortin",male,27.0,0,0,2670,7.2250,NaN,C,NaN,NaN,desconocido
1308,3,0,"Zimmerman, Mr. Leo",male,29.0,0,0,315082,7.8750,NaN,S,NaN,NaN,desconocido

In [102]:
pd.isnull(data5['age']).sum()

263

In [106]:
data5['age'].fillna(data5['age'].mean())   # imputacion por la media
data5['age'].fillna(data5['age'].median()) # imputacion por la mediana

0       29.0000
1        0.9167
2        2.0000
3       30.0000
4       25.0000
         ...
1304    14.5000
1305    28.0000
1306    26.5000
1307    27.0000
1308    29.0000
Name: age, Length: 1309, dtype: float64

In [107]:
data5['age'][1291]

nan

In [108]:
data5['age'].fillna(method='ffill') # imputacion con metodo forward fill

0       29.0000
1        0.9167
2        2.0000
3       30.0000
4       25.0000
         ...
1304    14.5000
1305    14.5000
1306    26.5000
1307    27.0000
1308    29.0000
Name: age, Length: 1309, dtype: float64

In [109]:
data5['age'].fillna(method='bfill') # imputacion con metodo backward fill

0       29.0000
1        0.9167
2        2.0000
3       30.0000
4       25.0000
         ...
1304    14.5000
1305    26.5000
1306    26.5000
1307    27.0000
1308    29.0000
Name: age, Length: 1309, dtype: float64

#### <font color=green> Variables Dummy

In [110]:
data['sex'] # cambio de categorias a numericas

0       female
1         male
2       female
3         male
4       female
         ...
1304    female
1305    female
1306      male
1307      male
1308      male
Name: sex, Length: 1309, dtype: object

In [115]:
dummy_sex = pd.get_dummies(data['sex'], prefix='sex')
dummy_sex.head()

   sex_female  sex_male
0           1         0
1           0         1
2           1         0
3           0         1
4           1         0

In [123]:
colum_name=data.columns.values.tolist()
colum_name

['pclass',
 'survived',
 'name',
 'sex',
 'age',
 'sibsp',
 'parch',
 'ticket',
 'fare',
 'cabin',
 'embarked',
 'boat',
 'body',
 'home.dest']

In [126]:
data=data.drop(['sex'], axis = 1) # quitamos la variable categorica sex

KeyError: "['sex'] not found in axis"

In [131]:
data=pd.concat([data,dummy_sex], axis=1)

In [136]:
# Funcion para cambiar una variable categorica a una variable dummy
def createDummies(df, var_name):
    dummy = pd.get_dummies(df[var_name], prefix=var_name)
    df = df.drop(var_name, axis=1)
    df = pd.concat([df, dummy], axis = 1)
    return df

In [137]:
createDummies(data3, 'sex')

,pclass,survived,name,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest,sex_female,sex_male
0,1,1,"Allen, Miss. Elisabeth Walton",29.0000,0,0,24160,211.3375,B5,S,2,NaN,"St Louis, MO",1,0
1,1,1,"Allison, Master. Hudson Trevor",0.9167,1,2,113781,151.5500,C22 C26,S,11,NaN,"Montreal, PQ / Chesterville, ON",0,1
2,1,0,"Allison, Miss. Helen Loraine",2.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON",1,0
3,1,0,"Allison, Mr. Hudson Joshua Creighton",30.0000,1,2,113781,151.5500,C22 C26,S,NaN,135.0,"Montreal, PQ / Chesterville, ON",0,1
4,1,0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",25.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON",1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1304,3,0,"Zabour, Miss. Hileni",14.5000,1,0,2665,14.4542,NaN,C,NaN,328.0,desconocido,1,0
1305,3,0,"Zabour, Miss. Thamine",NaN,1,0,2665,14.4542,NaN,C,NaN,NaN,desconocido,1,0
1306,3,0,"Zakarian, Mr. Mapriededer",26.5000,0,0,2656,7.2250,NaN,C,NaN,304.0,desconocido,0,1
1307,3,0,"Zakarian, Mr. Ortin",27.0000,0,0,2670,7.2250,NaN,C,NaN,NaN,desconocido,0,1
1308,3,0,"Zimmerman, Mr. Leo",29.0000,0,0,315082,7.8750,NaN,S,NaN,NaN,desconocido,0,1

In [18]:
((7/202)+(11/202))/((20/202)+(128/202)-(18/202))

0.13846153846153844

In [19]:
7/130

0.05384615384615385